[gui]
	recentrepo = C:/Users/admin/ecommerce-app
	recentrepo = C:/Users/admin/recette-app
	recentrepo = C:/Users/admin/meteo-app
	recentrepo = C:/Users/admin/chat-app
	recentrepo = C:/Users/admin/OneDrive/Bureau/project1
[user]
	email = derdaksara83@gmail.com
	name = sara
